@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');


//abstracts
@import abstracts/color
@import abstracts/text    
//layout
@import layout/layout

body 
    background-color: $White
    font-family: $font-stack
    text-align: center
.col 
    display: 
h1 
    color: $Very-Dark-Magenta
    font-size: $font-bold
